@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth ;
    -webkit-tap-highlight-color: transparent;
}
::-webkit-scrollbar
{
    display: none;
}
:root
{
    --bg-color: #000000;
    --second-bg-color: #13161e;
    --text-color: #ffffff;
    --main-color: #fca311;
}
html
{
    font-size: 62.5%;
    overflow-x: hidden;
}
body
{
    background: var(--bg-color);
    color: var(--text-color);
}
section
{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/*----header section---------*/
.header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.header .sticky
{
    border-bottom: .1rem solid rgba(0, 0, 0, 0.1);
}
.logo
{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
.navbar a 
{
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
}
.navbar a:hover,
.navbar a.active
{
    color: var(--main-color);
}
#menu-icon
{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

/*----------mechanic section----------*/
span
{
    color: #fca311;
}
.graphic-box
{
    margin-top: 8rem;
    width: 100%;
    height: 92vh;
    background: var(--second-bg-color);
    overflow: scroll;
}
.graphic-box i 
{
    margin-top: 20px;
    font-size: 15rem;
    color: var(--main-color);
}
.graphic-box h3
{
    font-size: 3.6rem;
}
.graphic-box p 
{
    font-size: 1.9rem;
    margin: 1rem 0 3rem;
}
/*-------media frame--------*/

@media (max-width: 1200px) 
{
    html
    {
        font-size: 55%;
    }
}

@media (max-width: 991px) 
{
    .header
    {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) 
{
    /*----header section----*/
    #menu-icon 
    {
        display: block;
    }
    .navbar 
    {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(255, 255, 255, 0.293);
        box-shadow: 0 .5rem var(--main-color);
        display: none;
    }
    .navbar.active 
    {
        display: block;
    }
    .navbar a 
    {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .graphic-box
    {
      display: block; 
      padding: 0 1rem ;
    }
    .graphic-box i 
    {
        font-size: 15rem;
    }
    .text-body
    {
        margin-top: 0;
    }
    .text-body p 
    {
        font-size: 1.6rem;
    }
   
}
